node_modules/
.wrangler/
.env
.env.local
.env.production
*.log
.secrets-backup/
.next/
.vercel/
.stats
.config
.accesslog
*.bin
*.zip
download/
restore/
nyxia/
nyxia-v2/
nyxia-working/
nyxia-live/
backup-live/
production-backup/
/public/
skills/
affiliation-pro
travail-pour-toi/
sandbox
.open-next/

